/* eslint-disable no-unused-vars */
const Service = require('./Service');
{{#operations}}
{{#operation}}

/**
{{#summary}}
 * {{{.}}}
{{/summary}}
{{#notes}}
 * {{{.}}}
{{/notes}}
 *
{{#allParams}}
 * {{paramName}} {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
{{/allParams}}
{{^returnType}}
 * no response value expected for this operation
{{/returnType}}
{{#returnType}}
 * returns {{{.}}}
{{/returnType}}
 */
// const {{{operationId}}} = async ({{#allParams}}{{#-first}}{ {{/-first}}{{paramName}}{{^-last}}, {{/-last}}{{#-last}} }{{/-last}}{{/allParams}}) => {
const {{{operationId}}} = async (params) => {
  try {
    const mockResult = await Service.applyMock('{{{classname}}}Service', '{{{operationId}}}', params);
    if (mockResult !== undefined) {
      if (mockResult.action === 'reject') {
        throw mockResult.value;
      }
      return mockResult.value;
    }
    return Service.successResponse(params);
  } catch (e) {
    throw Service.rejectResponse(
      e.message || 'Invalid input',
      e.status || 405,
    );
  }
};
{{/operation}}
{{/operations}}

module.exports = {
  {{#operations}}
  {{#operation}}
  {{operationId}},
  {{/operation}}
  {{/operations}}
};
