import { Type } from '@nestjs/common';
{{#apiInfo}}
{{#apis}}
import { {{classname}} } from '../{{apiPackage}}';
{{/apis}}
{{/apiInfo}}

export type ApiImplementations = {
{{#apiInfo}}
{{#apis}}
  {{#lambda.camelcase}}{{classname}}{{/lambda.camelcase}}: Type<{{classname}}>
{{/apis}}
{{/apiInfo}}
};
